appdirs==1.4.2
Babel==2.3.4
dj-database-url==0.4.1
Django==1.10.4
django-admin-rangefilter==0.2.1
django-bootstrap3-datetimepicker-2==2.4.2
django-crispy-forms==1.6.1
django-csv-exports==1.0.3
django-phonenumber-field==1.1.0
gunicorn==19.6.0
packaging==16.8
phonenumberslite==8.3.2
psycopg2==2.6.2
pyparsing==2.1.10
pytz==2016.10
six==1.10.0
twentytab-totalsum-admin==0.8
whitenoise==3.2
