{% load static %}
<html>
    <head>
        <title>Morning Shade Farm</title>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" integrity="sha256-yMjaV542P+q1RnH6XByCPDfUFhmOafWbeLPmqKh11zo=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js" integrity="sha256-5YmaxAwMjIpMrVlK84Y/+NjCpKnFYa8bWWBbUHSBGfU=" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{% static 'css/morningshade.css' %}">
        <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="page-header container" style="text-align:center;">
            <table style="margin: 0px auto;">
                <tr>
                    <td>
                        <img src="{% static 'blueberries.jpg' %}" width=90px>
                    </td>
                    <td>
                        <h1>Morning Shade Farm</h1>
                    </td>
                    <td>
                        <img src="{% static 'blueberries.jpg' %}" width=90px>
                    </td>
                </tr>
            </table>
        </div>

        <div class="content container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>

        <div class="content container">
            <div id="footer-links" class="row" style="font-size:large">
                    <p style="text-align:center;">
                        {% url 'index' as the_url %}
                        {% if request.get_full_path != the_url %}
                            <a href="/">Main Page</a> |
                        {% endif %}

                        <a href="https://www.tricountyfarm.org/farm/morning-shade-farm-and-berry-nursery">
                            What's in Season</a> |
                        <a href="https://www.facebook.com/Morning-Shade-Farm-116391798395040/">
                            Facebook</a>
                        {% if user.is_superuser %}
                            | <a href="/admin">Admin Pages</a> |
                            <a href="/orders/upcoming">Upcoming Orders</a>
                        {% endif %}
                    </p>
            </div>
        </div>
    </body>
</html>
