{% extends 'orders/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-sm-6">
        <h1>Farm Info</h1>
        <a href="https://goo.gl/maps/a6u7WQRRvqu">
            8345 S. Barnards Rd.<br>
            Canby, OR 97013
        </a><br>
        <a href="tel:503-651-2622">503-651-2622</a><br>
        <br>
        <b>Open Hours</b><br>
        U-pick vegetables and fruit: 8am-4pm Wed-Sun<br>
        Pre-picked pickup: 9am-4pm all days<br>
        Berry plant sales by appointment all year<br>

        <h1>Prices</h1>
        <b>For U-Pick Blueberries</b><br>
        $1.60 per pound.
        <br><br>
        <b>For Pre-Picked Blueberries</b><br>
        {% for price in prices %}
            For {{ price.min_quantity }} pounds and up: ${{ price.cost_per_pound }} per pound.<br>
        {% endfor %}
    </div>

    <div class="col-sm-6">
        <h1>New Order</h1>
        <i>For pre-picked blueberries, in 10 pound bags, for pickup at the farm.</i><br><br>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>

{% endblock %}