{% extends 'orders/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-md-6">
        <h2>Farm Info</h2>
        {{ global_preferences.farm_info|safe }}

        <h2>Prices</h2>
        {{ global_preferences.prices|safe }}
        <br><br>
        <b>For Pre-Picked Blueberries</b><br>
        {% for price in prices %}
            For {{ price.min_quantity }} pounds and up: ${{ price.cost_per_pound }} per pound.<br>
        {% endfor %}

        {% if global_preferences.about_message %}
            <h2>About</h2>
            {{ global_preferences.about_message|safe }}
        {% endif %}
    </div>

    <div class="col-md-6">
        <h2>New Order</h2>
        <i>For pre-picked blueberries, in 10 pound bags, for pickup at the farm.</i><br><br>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>
{% endblock %}
