{% extends 'orders/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="col-sm-6">
        <h1>Farm Info</h1>
        {{ global_preferences.farm_info|safe }}

        The u-pick season starts June {{ global_preferences.season_start_day }} and goes to
        Sept {{ global_preferences.season_end_day }}

        <h1>Prices</h1>
        {{ global_preferences.prices|safe }}
        <br><br>
        <b>For Pre-Picked Blueberries</b><br>
        {% for price in prices %}
            For {{ price.min_quantity }} pounds and up: ${{ price.cost_per_pound }} per pound.<br>
        {% endfor %}

        {% if global_preferences.about_message %}
            <h1>About</h1>
            {{ global_preferences.about_message|safe }}
        {% endif %}
    </div>

    <div class="col-sm-6">
        <h1>New Order</h1>
        <i>For pre-picked blueberries, in 10 pound bags, for pickup at the farm.</i><br><br>
        <form method="POST" class="post-form">
            {% csrf_token %}
            {% crispy form %}
        </form>
    </div>

    <div id="footer-links" class="row" style="font-size:large">
            <center><p>
                <a href="https://www.tricountyfarm.org/farm/morning-shade-farm-and-berry-nursery">
                    What's in Season</a> |
                <a href="https://www.facebook.com/Morning-Shade-Farm-116391798395040/">
                    Facebook</a>
                {% if user.is_superuser %}
                    | <a href="/admin">Admin Pages</a> |
                    <a href="/orders/upcoming">Upcoming Orders</a>
                {% endif %}
                </i>
            </p></center>
    </div>
{% endblock %}
